/* This is where all the CSS will be stored for our filters */
.container .filters {
    background-color: white;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    text-align: right;
    height: 70px;
    width: 100%;
}

/* This is where all the CSS will be stores for our search button  */
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;

    margin-right: 30px;
    margin-top: 10px;
}

button:hover {
    opacity: 90%;
}

/* This is where all the CSS will be stored for our Locations */
.locations {
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    text-align: left;
    margin-left: 30px;
    float: left;
}


/* This is where all the CSS will be stored for our Amenities */
.amenities {
    height: 100%;
    width: 25%;
    text-align: left;
    margin-left: 30px;
    float: left;
}


.filters h3 {
    margin-bottom: 5px;
    margin-left: 15%;
    font-weight: 600;
}

.filters h4 {
    margin-top: 5px;
    margin-left: 15%;
    font-weight: 400;
    font-size: 14px;
}

/* This is where all the CSS will be stored for our DROP DOWN  */

.popover {
    visibility: hidden;
    width: 107%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    background-color: #FAFAFA;
    padding-bottom: 5%;
    padding-left: 5%;
    margin-left: -31px;
    text-indent: 25px;

}

.locations .popover {
    padding-top: 25px;
}

.amenities .popover {
    padding-top: 25px;
}

.popover h2 {
    font-size: 16px;
    margin: 0;
}

.popover li {
    list-style-type: none;
    line-height: 1.0;
    padding-bottom: 7px;
}

.amenities:hover .popover,
.locations:hover .popover {
    visibility: visible;
}